.applications-container {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.applications-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.application-card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.application-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.application-card p {
    font-size: 1em;
    margin: 5px 0;
}