.applications-container {
    text-align: center;
    padding: 20px;
    background-color: #eae7e6;
}
.applications-container h1 {
    top: 0;
    font-size: 2.5rem;
    color: #583510;
    margin-bottom: 20px;
}

.application-card h3 {
    font-size: 2rem;
    color: #e84a5f;
}

.applications-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.applications-container application-card {
    background-color: #cfe2f3;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.application-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.application-card p {
    font-size: 1em;
    margin: 5px 0;
}